<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Home</title>
</head>
<body>
    
        <header>
            <div class="container">
            <div id="logo"><h1><span class="highlight">T</span>A.</h1></div>
            <nav>
                <ul>
                    <li class="current"><a href="#">home</a></li>
                    <li><a href="#">about</a></li>
                    <li><a href="#">portfolio</a></li>
                    <li><a href="#">contact</a></li>
                </ul>
            </nav>
            </div>
        </header>

       

    <section id="showcase">
        

        <div class="intro">
            <h1>Tamas Acs</h1>
            <h3>The 
            <span class="txt-type" data-wait="1000" data-words='[" Designer", " Creator", " Developer"]'></span>
            </h3>
            <p>Learning Javascript and React</p>
            <a href="#"><button class="btn">about me</button></a>
        </div>


        <div class="sidebar">
            <a href="#"><img src="../images/github.png" class="side"></a>
            <a href="#"><img src="../images/youtube2.png" class="side"></a>
            <a href="#"><img src="../images/linkdin.png" class="side"></a>
            </div>
    </section>
    

    <section class="about">
        <div class="skillset">
            <h2>I'm a self taught developer, like to learn new things</h2>
                <div class="skills">
                    <span class="name">HTML</span>
                    <div class="percent">
                        <div class="progress" style="width: 90%;">
                        </div>
                    </div>
                    <span class="value">90%</span> 
                </div>   

                <div class="skills">
                    <span class="name">CSS</span>
                    <div class="percent">
                        <div class="progress" style="width: 80%;">
                        </div>
                    </div>
                    <span class="value">80%</span>  
                </div>

                <div class="skills">
                    <span class="name">JS</span>
                    <div class="percent">
                        <div class="progress" style="width: 10%;">
                        </div>
                    </div>
                    <span class="value">10%</span> 
                </div> 

                <div class="skills">
                    <span class="name">React</span>
                    <div class="percent">
                        <div class="progress" style="width: 10%;">
                        </div>
                    </div>
                    <span class="value">10%</span>  
                </div>       
        </div>
    </section>

    <section class="portfolio">
        <div class="description">My latest works</div>
        <div class="works">
                <div class="col">1</div>
                <div class="col">1</div>
                <div class="col">1</div>
                <div class="col">2</div>
                <div class="col">2</div>
                <div class="col">2</div>
        </div>
    </section>

    <section class="contact">
        <h2>Contact Me</h2>
        <div class="wrap">
            <p>Name</p>
            <input type="text" name="name" placeholder="Name" required>
            <p>Email</p>
            <input type="email" name="email" placeholder="Email" required>
            <textarea name="text" rows="4" cols="40" placeholder="Enter message..." required></textarea>
            <input type="submit" value="Send message">
        </div>
        <h3>or find me on</h3>
        <div class="findme">
            <a href="#"><img id="first" src="../images/github.png" class="find"></a>
            <a href="#"><img src="../images/youtube2.png" class="find"></a>
            <a href="#"><img src="../images/linkdin.png" class="find"></a>
        </div>
    </section>

    <footer>
        <div class="footer"><p>Tamas Acs Web Designer © 2020</p></div>
    </footer>

    <script src="../css/main.js"></script>
</body>
</html>